<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- vue script -->
    <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.js"></script>
    <link rel="stylesheet" href="assets/styles/style.css">

</head>
<body>
    <div id="app">
        <div class="wrapper">
            <header>
                <h1>Logo here</h1>
            </header>
            <div class="container">
                <div class="row">
                    <!-- aggiunta evento al click per mostrare dettagli -->
                    <div class="col" v-for="disk in diskList" :key="disk.title" @click="displayDiskDetails(disk)">
                        <div class="card">
                            <img :src="disk.poster" class="card-img-top" alt="Disk Poster">
                            <div class="card-body">
                                <h4 class="card-title">{{ disk.title }}</h4>
                                <p class="card-text">{{ disk.author }}</p>
                                <h5>{{ disk.year }}</h5>
                            </div>
                            
                        </div>
                    </div>

                    <!-- se c'è un disco selezionato ,  applica classe-->
                    <div v-if="selectedDisk" class="details" :class="{ 'details-expanded': selectedDisk }">
                        <button class="close-btn" @click="hideDetails">&times;</button> <!-- btn x chiudere -->
                        <div class="details-card">
                            <img :src="selectedDisk.poster" class="details-img-top" alt="Disk Poster">
                            <h2> Dettagli:</h2>
                            <h2>{{ selectedDisk.title }} </h2>
                            <p><strong>autore:</strong> {{ selectedDisk.author }}</p>
                            <p><strong>anno:</strong> {{ selectedDisk.year }}</p>
                            <p><strong>genere:</strong> {{ selectedDisk.genre }}</p>
                        </div>
                        
                    </div>
                </div>

            </div>

        </div>
        
        
    </div>
    
    
    <!-- axios script -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./assets/script/script.js"></script>
</body>
</html>