* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* layout */

.wrapper {
    background-color: #06131F;
    height: 100vh;
}
header {
    width: 100%;
    height: 5rem;
}

.container {
    width: 100%;
    height: calc(100% - 5rem);
    
    background-color: #1D2D3C;
    padding: 2rem;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
}

.col {
    width: calc((70% / 3) );
    background-color: #06131F;
    border-radius: 10px;
}

.card {
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
}

.card-img-top {
    width: 80%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
}
