* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* layout */

.wrapper {
    background-color: #06131F;
    height: 100vh;
}
header {
    width: 100%;
    height: 5rem;
}

.container {
    width: 100%;
    height: calc(100% - 5rem);
    
    background-color: #1D2D3C;
    padding: 2rem;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    
}

.col {
    width: calc((70% / 3) );
    background-color: #112030;
    border-radius: 10px;
    align-content: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    padding-top: 2rem;
    padding-bottom: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    align-content: stretch;
}

.card-img-top {
    width: 80%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: white;
}

.card-title {
    text-align: center;
}

.card-text {
    font-size: 0.8rem;
}

.details {
    display: none;
}

.details-expanded {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(17, 32, 48, 0.9);

    z-index: 1000;
    
}

.details-card {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 1rem;
    
}
.details-img-top {
    width: 50%;
}

