* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* layout */

.wrapper {
    background-color: #06131F;
    height: 100vh;
}
header {
    width: 100%;
    height: 5rem;
}

.container {
    width: 100%;
    height: calc(100% - 5rem);
    
    background-color: #1D2D3C;
}

.row {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.col {
    width: calc((90% / 3) );
    background-color: #06131F;
}